/* ===================================
   STUDENT 4 — Druktemeter
   Industrial Neon 2.0 Accent Variant
====================================== */

/* -------------------------------
   STUDENT 4 VARIABLES FOR COLORS
-------------------------------- */
:root {
    --s4-accent: #a406f3;
    --s4-accent-dark: #7626a6;
    --s4-accent-soft: rgba(198, 99, 242, 0.15);
    --s4-transition: 0.5s ease;
    --s4-meter-lightgreen: #7ae07f;
    --s4-meter-darkgreen: #2e7d32;
    --s4-meter-lightyellow: #F5EA56;
    --s4-meter-darkyellow: #fbc02d;
    --s4-meter-lightred: #f44336;
    --s4-meter-darkred: #b71c1c;
}

/* -------------------------------
   NAVBAR — Remove transformation and place menu op top of viewport
-------------------------------- */
.student4-settings .navbar {
    width: 100%;           /* Full width */
    color: var(--s4-accent-dark);
    text-shadow: 0 0 60px var(--s4-accent-dark);
    backdrop-filter: none;
}

.student4-settings .nav-link.active {
    color: white;
}

.student4-settings .nav-link:hover {
    transform: translateY(0px); !important;
}

/* -------------------------------
   HERO SECTION — less opacity, margins and paddings smaller
   also rescale when hovering over the hero section
-------------------------------- */
.student4-settings .hero_wrapper {
    padding: 1rem 1rem 1rem;
    margin: 1rem auto;
    background: linear-gradient(
            165deg,
            rgba(0,0,0,1.8) 20%,
            rgba(100,160,166,0.35)
    );
    border: 2px solid var(--s4-accent-dark);
    border-radius: 12px;
    width: 60%;
    scale: 100%;
    position: relative;
}

.student4-settings .hero:hover {
    transform: scale(1.10);
    transition-duration: 2s;
}

/* -------------------------------
   TEXT OVERLAY (always on top)
--------------------------------  */
.student4-settings .text-overlay {
    position: absolute;
    top: 1rem;
    left: 50%;
    padding: 20px;
    transform: translate(-50%, 0%);
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
}

.student4-settings footer {
    display: flex;  /* Maak van de footer een flex-container */
    position: fixed;
    bottom: 0;  /* Footer positie onderaan de viewport */
    left: 0;    /* Footer is 100% van de breedte  */
    right: 0;
    justify-content: space-between; /*Ruimte tussen de objecten in de footer */
    padding: .5rem; /* Kleine Marge aan alle zijden van de footer */
    background-color: rgba(255, 255, 255, 0.3);
}


/* -------------------------------
 Button with slightly other color (since visibility in table is not clear)
--------------------------------  */
.student4-settings .btn-accent {
    background: var(--s4-accent);
    color: #000;
    font-weight: 700;
    padding: 0.8rem 1.8rem;
    border-radius: 50px;
    border: none;
    transition: var(--transition);
    letter-spacing: 1px;
    text-decoration: none;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 50px;
}

.student4-settings .btn-coming {
    background: var(--s4-accent);
    color: #000;
    font-weight: 700;
    padding: 0.8rem 1.8rem;
    border-radius: 50px;
    border: none;
    transition: var(--transition);
    letter-spacing: 1px;
    text-decoration: none;
    display: inline-block;
    margin-left: 10px;
}
/* -------------------------------
   BACKGROUND IMAGE
--------------------------------  */
.background {
    position: relative;
    min-height: auto !important;
    height: auto !important;
    width: 100%;
    /*z-index: -1;        !* Make sure it's behind other content *!*/

    img {
        width: 100%;
        height: 600px;
        object-fit: cover;  /*  fill the complete screen without scaling */
    }
}

/* -------------------------------
   Small menu other color for better visibility
--------------------------------  */
.navbar-toggler {
     background-color: var(--s4-accent);
 }

/* -------------------------------
   TABLE css
--------------------------------  */
.table-busy {
    margin: 10px auto;
    width: 85%;
    border-collapse: collapse;
    margin-bottom: 1rem;
    border: none;

    th, td {
        border: none;
        padding: 8px;
        text-align: center;
        background-blend-mode: multiply;
        opacity: 80%;
    }

    th {
        background-color: var(--s4-accent-dark);
    }

    tr:nth-child(even) {
        background-color: var(--color-accent);
        background-blend-mode: multiply;
        opacity: 80%;
    }

    tr:nth-child(odd) {
        background-color: var(--s4-accent-dark);
        background-blend-mode: multiply;
        opacity: 80%;
    }

    caption-side: bottom;
    caption {
        color: var(--s4-accent-dark);
        font-style: italic;
    }
}


/* -------------------------------
   GAUGE css
   Remark: different browsers have different pseudo-elements for styling...
--------------------------------  */
.s4-bustle-meter {
    width: 200px;
    height: 40px;
}

/* Remove default appearance in WebKit browsers */
.s4-bustle-meter::-webkit-meter-bar {
    background: #eee;
    border-radius: 5px;
}

/* WebKit: Low value color */
.s4-bustle-meter::-webkit-meter-optimum-value {
    background: linear-gradient(to right, var(--s4-meter-lightgreen), var(--s4-meter-darkgreen));
    border-radius: 5px;
}

/* WebKit: Medium value color */
.s4-bustle-meter::-webkit-meter-suboptimum-value {
    background: linear-gradient(to right, var(--s4-meter-lightyellow), var(--s4-meter-darkyellow));
    border-radius: 5px;
}

/* WebKit: High value color */
.s4-bustle-meter::-webkit-meter-even-less-good-value {
    background: linear-gradient(to right, var(--s4-meter-lightred), var(--s4-meter-darkred));
    border-radius: 5px;
}

/* Firefox: Remove default style */
.s4-bustle-meter::-moz-meter-bar {
    border-radius: 5px;
}

/* Firefox: Low value */
.s4-bustle-meter:-moz-meter-optimum::-moz-meter-bar {
    background: linear-gradient(to right, var(--s4-meter-lightgreen), var(--s4-meter-darkgreen));
}

/* Firefox: Medium value */
.s4-bustle-meter:-moz-meter-sub-optimum::-moz-meter-bar {
    background: linear-gradient(to right, var(--s4-meter-lightyellow), var(--s4-meter-darkyellow));
}

/* Firefox: High value */
.s4-bustle-meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
    background: linear-gradient(to right, var(--s4-meter-lightred), var(--s4-meter-darkred));
}

/* --------------------------------
   Container for the movie in case hero-frame is not shown (smaller screens)
   but we use this container instead to center the movie
--------------------------------- */
.movie-container {
    place-items: center;
}

/* Setting to recolor the exclamation-mark */
.color-filter {
    filter: invert(14%) sepia(86%) saturate(4708%) hue-rotate(278deg) brightness(101%) contrast(119%);
}

/* settings to give the spinner and text another color */
.student4-settings .text-primary {
    color: var(--s4-accent) !important;
}

/* Settings for the error-message */
.student4-settings .text-danger {
    color: var(--s4-accent);
    text-shadow: 0 0 60px var(--s4-accent);
    font-size: 1.0em;
    text-align: center;
    border: 2px solid var(--s4-accent-dark);
    border-radius: 12px;
    padding: 1.0rem;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.student4-settings .image-container {
    height: 50px;
    width: 50px;
    top: 0px;
    display: inline-block;
}

.student4-settings .card {
    background-color: rgba(0, 0, 0, 0.8);
    border: 3px solid var(--s4-accent-dark);
    border-radius: 12px;
    color: #fff;
    margin: 1rem;
    padding: 1em
}

/* -------------------------------
   RESPONSIVE TWEAKS
   * No hero-wrapper around movie
   * Move menu-item to left instead of right and make it absolute positioned (so it does not move when scrolling)
   -------------------------------- */
@media only screen and (max-width: 576px) {
    .student4-settings {
        .movie-container {
            display: none;
        }

        .navbar-toggler-icon {
            height: 1em;
            width: 1em;
        }

        .text-danger {
            font-size: 1.0em;
        }

        .s4-bustle-meter {
            width: 100px;
        }

        .btn-accent {
            margin-bottom: 120px;
        }
    }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
    .student4-settings .movie-container {
        display: none;
    }

    .student4-settings .text-danger {
        font-size: 1.2em;
    }

    .student4-settings .container {
        top: 1rem;
    }

    .student4-settings .btn-accent {
        margin-bottom: 100px;
    }
}

@media only screen and (min-width: 769px) {
    .student4-settings .movie-container {
        display: block;
    }

    .student4-settings .text-danger {
        font-size: 1.5em;
    }

    .student4-settings .container {
        top: 1rem;
    }
}

