/*
Student 3: Keany Vanhauwaert (R0740423)
Industriele look met paars, geel en zwart
*/

/*NAVBAR*/
.nav-link.active{
    color: var(--color-accent) !important;
    text-shadow: 0 0 6px var(--color-accent-alt);
}


/*MAIN*/
.membership-page-background{
    background-image: url("../../common/assets/Background.webp");
    background-size: cover;
    background-position: center;
    padding: 50px 0;
}

.membership-title {
    text-align: center;

}

.membership-description {
    text-align: center;
    font-size: 1.6rem;
}

.membership-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    max-width: 1300px;
    margin: 0 auto;
    padding: 15px;
    box-sizing: border-box;
}

.membership-wrapper {
    background-color: rgba(0, 0, 0, 0.75);
    border: 2px solid var(--color-accent);
    border-radius: 20px;
    padding: 1rem;
    box-shadow: 0 0 20px var(--color-accent-alt);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.membership-formule{
    font-size: 1.6rem;
    text-decoration: underline;
    align-self: center;
}

.membership-formule-subscript {
    align-self: center;
}

.membership-price {
    color: var(--color-accent);
    text-shadow: 0 0 1.5rem var(--color-accent-alt);
    font-size: 2rem;
    font-weight: bold;
}

.membership-price span {
    font-size: 1.2rem;
    font-weight: normal;
}

.membership-wrapper ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.membership-wrapper ul li:before {
    content: '✓';
    display: flex;
    flex-direction: row;

}

.membership-wrapper ul li {
    font-size: 1.2rem;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.membership-wrapper:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px var(--color-accent-alt);
}

.membership-button{
    background-color: var(--color-accent-dark);
    color: var(--color-text);

    padding: .33rem;
    margin: auto;
    display: block;
    border-radius: 15px;
}

.membership-button span {
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 2px 2px var(--color-accent-alt);
}

@media (min-width: 700px) {
    .membership-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

